/********************* COLORS *********************/

$color-emerald:                  #4DCF56;
$color-mountain-meadow:          #15A991;
$color-gallery:                  #EFEFEF;
$color-white:                    #FFF;
$color-silver:                   #CCC;
$color-silver-chalice:           #AAA;
$color-boulder:                  #777;
$color-emperor:                  #555;




/********************* FONTS *********************/

$font-family-base:              'Avenir', sans-serif;


/********************* MISC *********************/

$border-radius:           8px;