{{outlet}}

  <!-- Title -->
  <h1>What's in Season?</h1>
  <p class="desc">This is not an exhaustive list and is a work-in-progress. You can filter results by month and type. Click on a produce item to select it and then click the bottom button to find recipes. Happy cooking!</p>
  <div class="container">
    
    {{filter-results}}
    
  </div>